.truncate--2,
.truncate--3,
.truncate--4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate--2 {
  -webkit-line-clamp: 2;
}

.truncate--3 {
  -webkit-line-clamp: 3;
}

.truncate--4 {
  -webkit-line-clamp: 4;
}
