:root {
  --primary-color-100: #60a5fa;
  --primary-color-200: #1d4ed8;

  --secondary-color-100: #1e293b;
  --secondary-color-200: #0f172a;

  --tertiary-color-100: #f1f5f9;
  --tertiary-color-200: #cbd5e1;
}
